@import "tailwindcss";

:root {
  --background: #0f1720;
  --sidebar-bg: #121212;
  --foreground: #ededed;
  --primary-blue: #1038a2;
  --secondary-purple: #694eff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f1720;
    --sidebar-bg: #121212;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
  background: var(--sidebar-bg);
}

@layer utilities {
  .bg-custom {
    background-image: url("/layout/background.svg");
    background-size: cover;
    background-position: center;
  }

  .text-secondary-purple {
    color: var(--secondary-purple);
  }

  .bg-gradient-custom {
    background: linear-gradient(270.05deg, #003def 68.33%, #001f7a 114.25%);
  }
  .hr-gradient {
    border: none;
    height: 1px;
    background: linear-gradient(270deg, #000000 38.41%, #277bee 46.67%);
  }
}
