@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-sidebar: var(--sidebar);
  --color-sidebar-content: var(--sidebar-content);
  --color-primary: var(--primary);
  --color-disabled-text: var(--disabled-text);
  --color-surface: var(--surface);
  --color-secondary-text: var(--secondary-text);
  --color-contrast-borders: var(--contrast-borders);
  --color-verify: var(--verify);
}

:root {
  --background: #fcfcfc;
  --sidebar: #f6f6f6;
  --sidebar-content: #111111;
  --primary: #00b875;
  --disabled-text: #666666;
  --surface: #2a2a2a;
  --secondary-text: #b3b3b3;
  --contrast-borders: #383838;
  --verify: #eff3f4;
  --font-sans: var(--font-sora);
}

body {

  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

.sidebar {
  background: var(--sidebar-bg);
}

@layer utilities {
  .bg-custom {
    background-image: url("/layout/background.svg");
    background-size: cover;
    background-position: center;
    background-size: auto 100%;
  }

  .text-secondary-purple {
    color: var(--secondary-purple);
  }

  .bg-gradient-custom {
    background: linear-gradient(270.05deg, #003def 68.33%, #001f7a 114.25%);
  }
  .hr-gradient {
    border: none;
    height: 1px;
    background: linear-gradient(270deg, #000000 38.41%, #277bee 46.67%);
  }
}
.no-scroll::-webkit-scrollbar {
  display: none;
}
.no-scroll {
  scrollbar-width: none;
}

.no-scroll {
  -ms-overflow-style: none;
}
